@charset "UTF-8";

/* 
em HTML é id = # em CSS
em HTML é class = . em CSS
*/
body {
    background-color: rgb(159, 231, 159);
    font-family: Arial, Helvetica, sans-serif;
}

h1#principal {
    text-align: center;
    background-color: green;
    color: white;
}

h1 {
    color: rgb(3, 107, 3);
}
h2 {
    color: green;
}

.basico {
    color: rgb(32, 107, 32);
}

.intermediario {
    color: rgb(145, 41, 41);
}

.avancado {
    color: rgb(32, 32, 134);
}

.destaque {
    background-color: rgba(167, 167, 80, 0.568);
}